body{
    margin:0;
    display:grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 80px 7.2fr 2fr 40px;
    /*text-align:center;*/

}



.empty2{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: black;
    color:white;
    text-align: right;
    font-family: 'Times New Roman';
    font-variant: small-caps;
    padding-top:13px;
    padding-right:60px
}
.picture{
    grid-column: 1/4;
    grid-row: 2/3;    
}
.content{
    grid-column:1/4;
    grid-row:3/4;
    background-color:#bdc3c7;
}
.link{
    grid-column:3;
    grid-row: 4/5;
}
    
.tabs{
    grid-column:1;
    grid-row:4/5;
}
.empty{
    grid-column: 2/3;
    grid-row: 1/2;
}
.container{
    grid-column:3;
    grid-row: 1;
}

.logo{
    padding-top: 10px;
    grid-column:1/2;
    grid-auto-rows:minmax(100px, auto);
    /*display: block;
    margin-left:auto;
    margin-right:auto;*/
    padding-left:110px;
    align-self:stretch;
    justify-self: end;
     
       
}
.container{
    display:flex;
    align-self: center;
    
}
.container a{
    text-align: center;
    font-variant:small-caps;
    text-decoration:none;
    color:black;
    border:none;
    font-family:'Times New Roman',sans-serif; 
    font-size: 19px;
    padding:46px 14px 46px 14px;
    
    /*padding: 16px;
    padding-top:30px;
    padding-bottom: 30px;*/

}

.picture{
    background-image: url("../images/landscape1.jpg");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.container, .empty, .logo{
    background-color:#ecf0f1;
}

.tabs{
    display:flex;
    justify-content:space-evenly;
    background-color: black;
    
}

.tabs a{
    text-decoration: none;
    font-variant: small-caps;
    color:#f5f6fa;
    align-self: center;
    text-align:center;
    font-family:'Times New Roman',sans-serif;
    font-size: 19px;
   /* margin-top:30px;*/
}

.content p{
    position:relative;
    font-family: gotham book;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}
.content h6{
    text-align: center;
    font-family: gotham;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin: 1em;
    color: #3c6382;
    text-transform: uppercase;
}

.content h2{
    text-align: center;
    font-family: chronicle text g1;
    font-size: 40px;
    line-height: 34px;
    margin: 25px 0;
    font-variant:small-caps;
}

.content p{
    text-align: center;
    margin: 20px 0;
    font-family: gotham book;
    font-size: 18px;
    line-height: 35px;
    display: block;
   /* margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 5px;
    margin-inline-end: 1px;*/
}

.link{
    display:flex;
    justify-content: flex-end;
    background-color:black;
}

.link a{
    
    color: #ecf0f1;
    font-size:12px;
    margin:10px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}



.fb:hover{
    color:#3b5998;
}
.insta:hover{
    color:#bc2a8d ;
}
.twitter:hover{
    color:#38A1F3;
}
a:hover{
    text-decoration:underline;
}
 


